@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi|Tinos');
@import url('font-awesome.min.css');

/**
 * Fixes
 */

a {
  text-decoration: none;
}

/*
	Header
*/

.topo {
  text-align: center;
  font-size: 4em;
  line-height: 4em;
  font-family: 'Baloo Thambi', sans-serif;
  font-weight: bold;
  color: #33C3F0;
}

/*
	Post
*/

.post {
  clear: both;
  padding-top: 20px;
  background: #ffffff;
}
.post h2 {
  margin-bottom: 1rem;
  border-bottom: 1px solid #333;
}
.post h2 a  {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  line-height: 1em;
  font-family: 'Baloo Thambi', cursive;
}
.post .thumbnail {
  display: block;
  margin: 15px auto;
  width: 100%;
  filter: grayscale(80%);
}
.post article p {
  font-family: 'Tinos', serif;
  font-size: 0.9em;
  line-height: 1.7em;
  clear: both;
  margin-bottom: 0;
  padding: 5px;
}
.post article, .post footer {
  padding: 7px;
}

.post .info {
  font-family: 'Baloo Thambi', cursive;
  line-height: 16px;
  text-align: center;
}

.post .info > a {
  color: #b3b3b3;
}

.post .info > a:hover {
  color: #33C3F0;
  transition: .7s;
}


.post .share {
  width: 100%;
  text-align: center;
}
.post .post-tags > span {
  font-weight: bold;
}
.post .post-tags {
  margin: 5px 0 0 5px;
  text-align: center;
  height: 40px;
}
.post .post-tags > a {
  box-sizing: border-box;
  border: 1px solid #333;
  text-align: center;
  text-decoration: none;
  font-family: 'Baloo Thambi', cursive;
  line-height: 24px;
  color: #333;
  padding: 3px;
  font-weight: bold;
  font-size: 14px;
}

.post .post-tags > a:hover {
  color: #b3b3b3;
  border-color: #b3b3b3;
  transition: .7s;
}

.post .ver-mais {
  box-sizing: border-box;
  border: 1px solid #333;
  text-align: center;
  float: right;
  text-decoration: none;
  font-family: 'Baloo Thambi', cursive;
  line-height: 24px;
  color: #333;
  /* font-style: italic; */
  padding: 3px 8px;
  margin: 5px 15px 0 0;
  font-weight: bold;
  font-size: 14px;
}

/*
	Sidebar
*/

.sidebar {
  background: #ffffff;
  margin-top: 7px;
}

.sidebar h3 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  font-family: 'Baloo Thambi', cursive;
  border-bottom: 1px solid #333;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.sidebar p {
  font-size: 12px;
}

/**
 * About Widget
 */

.about {
  display: block;
  width: 100%;
}
.about p {
    margin-top: 1em;
  clear: both;
  text-align: center;
  margin-bottom: 1em;
}
.about-link {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 24px;
  border: 1px solid #333;
  text-align: center;
  text-decoration: none;
  font-family: 'Baloo Thambi', cursive;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #333;
}
.about-link:hover {
  border-color: #b3b3b3;
  color: #b3b3b3;
  transition: .7s all;
}
.about img {
  width: 100%;
  display: block;
  margin: 0 auto;
  filter: grayscale(80%);
}

.about img:hover {
  filter: grayscale(0);
  transition: .7s;
}

/**
 * Blogroll Widget
 */

.blogroll {
  padding: 0;
  margin: 0;
}
.blogroll-list {
   padding: 5px;
}
.blogroll-item {
  max-width: calc(100%/3.7);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 5px 5px 0px 5px;
}
.blogroll-item:nth-child(1), .blogroll-item:nth-child(4), .blogroll-item:nth-child(7) {
  margin-left: 8px;
}
.blogroll img {
  width: 100%;
  filter: grayscale(80%);
}

.blogroll img:hover {
  cursor: pointer;
  filter: grayscale(0);
  transition: .7s;
}

/**
 * Search Widget
 */

.search-input form {
  margin-bottom: 0;
}
.search-input input {
  background: url('../img/find.png') no-repeat scroll 0px 2px;
  background-position: right;
  background-size: contain;
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #333;
  border-radius: 0;
}
.search-input input:hover, .search-input input:active {
  border: 0;
  border-bottom: 1px solid #333;
  border-radius: 0;
}

/**
 * Newsletter Widget
 */

.bg-newsletter {
  background: url(../img/newsletter.png) center center no-repeat;
  height: 130px;
  border: 1px solid #b3b3b3;
  margin: 15px 3px;
}

#news-feed {
  margin: 20px auto;
  display: block;
  height: 27px;
  border-radius: 0px;
  border-color: #b3b3b3;
}

.feed-btn {
    display: block;
    text-align: center;
    font-family: 'Baloo Thambi', cursive;
    color: #b3b3b3;
    background: #fff;
    width: 85px;
    margin: 0 auto;
    border: 1px solid #b3b3b3;
}

/**
 * Paginação
 */

.pagination {
	clear: both;
	width: 100%;
}

.pagination-list {
	margin: 0 auto;
	width: 250px;
}

.pagination-item {
	display: inline-block;
  margin:1rem 0.5rem 1rem 0.5rem;
}

.pagination-link {
	padding: 5px 10px;
  margin: 0 auto;
	border: 1px solid #333;
	vertical-align: middle;
	text-align: center;
  font-weight:bold;
	display: block;
	color: #000;
}

.pagination-link:hover {
	color: #b3b3b3;
	border-color: #b3b3b3;
}

.pagination-link.active {
    cursor: pointer;
    color: #b3b3b3;
    border-color: #b3b3b3;
}

/*
	Footer
*/

.rodape {
  margin-top: 15px;
  font-family: 'Baloo Thambi', cursive;
}

.creative-commons {
  width: 80px;
}

.direitos {
  height: 55px;
  text-align: right;
  line-height: 55px;
}

/**
 * Comentários
 */

.comments h3 {
  position: relative;
  text-align: center;
  font-family: 'Baloo Thambi', cursive;
}

.comments h3 span {
  background:  #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.comments h3:before {
  background:  #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.comments h3:before {
  left: 0;
}

.comments form input[type=submit]{
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}

.comments form input[type=submit]:hover {
  transition: .7s;
}

.comment-item {
  display: inline-block;
  margin-left: 10px;
}

.comment-item .author {
  font-weight: bold;
}

.comment-item .comment-text {
  margin-left: 5px;
}

/**
 * Compartilhar
 */

.facebook:before {
  content:'\f09a';
  font-family: 'FontAwesome';
  margin-right: 3px;
}

.facebook {
  color: #fff;
  background: #3b5998;
  font-size: 12px;
  display: inline-block;
  font-family: 'Tinos', sans-serif;
  font-weight: bold;
  padding: 2px 5px;
}

.twitter:before {
  content: '\f099';
  font-family: 'FontAwesome';
  margin-right: 3px;
}

.twitter {
  color: #fff;
  background: #1da1f2;
  display: inline-block;
  font-size: 12px;
  font-family: 'Tinos', serif;
  font-weight: bold;
  padding: 2px 5px;
}

.pinterest:before {
  content: '\f231';
  font-family: 'FontAwesome';
  margin-right: 3px;
}

.pinterest {
  color: #fff;
  background: #bd081c;
  display: inline-block;
  font-size: 12px;
  font-family: 'Tinos', sans-serif;
  font-weight: bold;
  padding: 2px 5px;
}

.twitter:hover, .facebook:hover, .pinterest:hover {
  opacity: 0.9;
  color: #fff;
}